{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deps/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
    <title>{{title}}</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'cookbook:main' %}">Cookbook</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'cookbook:recipes' %}">Рецепты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'cookbook:products' %}">Продукты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section style="display: flex; flex-direction: column; align-items: center; min-height: 100vh; margin: 0; padding: 0;">
    <!-- Контент -->
    <div class="container" style="display: flex; flex-direction: column; align-items: center; min-height: 100vh; margin: 0; padding: 0;">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на Ваше усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'deps/js/jquery-events.js' %}"></script>
<script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
<script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>